<header class="main-sprite">
    <hgroup>
        <h1 class="header-title"><a href="/">Stefan's Tools</a></h1>
        <h2 class="header-description">Useful open source tools that make your life easier</h2>
        <a href="http://sourceforge.net/projects/stefanstools"><img src="http://sflogo.sourceforge.net/sflogo.php?group_id=1865059&amp;type=8" width="80" height="15" alt="Get Stefan's Tools at SourceForge.net. Fast, secure and Free Open Source software downloads" /></a>
    </hgroup>
</header>