*.aps
*.VC.db
*.vcxproj.user
.grunt/
.vs/
bin/
Debug/
node_modules/
obj/
Release/
default.build.user
signinfo.txt
version.build
/Misc/AAClr/src/version.h
/Misc/FileTool/src/version.h
/SKTimeStamp/src/version.h
/StExBar/choco/package/
/StExBar/src/version.h
/www/dist/
/SKTimeStamp/choco/*.nupkg
/StExBar/_ReSharper.Caches
