/StExBar/.vs/
/StExBar/StExBar.VC.db
/StExBar/bin
/StExBar/obj
/StExBar/src/StExBar.vcxproj.user
/StExBar/src/version.h
/SKTimeStamp/.vs
/SKTimeStamp/bin
/SKTimeStamp/obj
/SKTimeStamp/src/SKTimeStamp.vcxproj.user
/SKTimeStamp/src/version.h
