/StExBar/.vs/
/StExBar/StExBar.VC.db
/StExBar/bin
/StExBar/obj
/StExBar/src/StExBar.vcxproj.user
/StExBar/src/version.h
/SKTimeStamp/.vs
/SKTimeStamp/bin
/SKTimeStamp/obj
/SKTimeStamp/src/SKTimeStamp.vcxproj.user
/SKTimeStamp/src/version.h
/www/.grunt
/www/dist
/www/node_modules
/Misc/AAClr/.vs
/Misc/AAClr/Release
/Misc/AAClr/default.build.user
/Misc/AAClr/obj
/Misc/AAClr/src/AAClr.vcxproj.user
/Misc/AAClr/src/version.h
/Misc/AAClr/version.build
/Misc/FileTool/.vs
/Misc/FileTool/bin
/Misc/FileTool/obj
/Misc/FileTool/src/FileTool.vcxproj.user
/Misc/FileTool/src/version.h
/Misc/FileTool/version.build
