    <footer class="main-sprite" role="contentinfo">
        <ul>
            <li>
                <a href="http://sourceforge.net/projects/stefanstools">
                    <img src="/img/sflogo.png" width="80" height="15" alt="SourceForge logo" title="SourceForge Project">
                </a>
            </li>
            <li>
                &bull; &copy; <a href="/about.html">Stefan K&uuml;ng</a>
            </li>
        </ul>
        <p>Site last updated: @@DATE</p>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-1.11.1.min.js"><\/script>')</script>
    <script src="/js/pack.js"></script>
</body>
</html>
