    <footer class="main-sprite">
        <ul>
            <li>
                <a href="https://sourceforge.net/projects/stefanstools">
                    <img class="sf-logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="80" height="15" alt="SourceForge logo" title="SourceForge Project">
                </a>
            </li>
            <li>
                &bull; &copy; <a href="/about.html">Stefan K&uuml;ng</a>
            </li>
        </ul>
        <p>Site last updated: @@DATE</p>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-1.12.0.min.js"><\/script>')</script>
    <script src="/js/pack.js"></script>

    @@bottomHtml

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-61301138-1', 'auto');
        ga('set', 'anonymizeIp', true);
        ga('send', 'pageview');
    </script>

</body>
</html>
