    <footer class="main-sprite">
        <ul>
            <li>
                <a href="https://sourceforge.net/projects/stefanstools">
                    <img class="sf-logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="80" height="15" alt="SourceForge logo" title="SourceForge Project">
                </a>
            </li>
            <li>
                &bull; &copy; <a href="./about.html">Stefan K&uuml;ng</a>
            </li>
        </ul>
        <p>Site last updated: @@DATE</p>
    </footer>

    <script async src="./js/pack.js"></script>

    @@bottomHtml

</body>
</html>
