<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <title>@@title - Stefan 的小工具</title>
    @@metaDescription
    @@metaKeywords
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="/css/pack.css">
    @@headHtml
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
    <header class="main-sprite" id="top">
        <h1 class="header-title"><a href="/">Stefan 的小工具</a></h1>
        <h2 class="header-description">一些很方便和实用的小工具</h2>
    </header>
