<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@@title - Stefan's Tools</title>
    @@metaDescription
    @@metaKeywords
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="/css/pack.css">
    @@headHtml
</head>
<body>
    <header class="main-sprite" id="top">
        <h1 class="header-title"><a href="/">Stefan's Tools</a></h1>
        <h2 class="header-description">Useful open source tools that make your life easier</h2>
    </header>
