<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>@@title - Stefan 的小工具</title>
    @@metaDescription
    @@metaKeywords
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="css/pack.css">
    @@headHtml

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-0430507460695576",
              enable_page_level_ads: true
         });
    </script>
</head>
<body>
    <header class="main-sprite" id="top">
        <h1 class="header-title"><a href="/">Stefan 的小工具</a></h1>
        <h2 class="header-description">一些很方便和实用的小工具</h2>
    </header>
