<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
  <Product
  UpgradeCode="7AEE9726-59A7-460d-BB40-A7A6B44DB98D"  
  Name='StExBar' 
  Id='????????-????-????-????-????????????'
  Language='1031' 
  Codepage='1252' 
  Version='1.5.0' 
  Manufacturer='Stefans Tools'>

    <Package Id='????????-????-????-????-????????????' Keywords='Installer'
      Description="Stefans Shell Extension Bar"
      Comments='http://tools.tortoisesvn.net' Manufacturer='Stefans Tools'
      InstallerVersion='200' Platforms="x64" Languages='1031' Compressed='yes' SummaryCodepage='1252' />
      
    <Upgrade Id="7AEE9726-59A7-460d-BB40-A7A6B44DB98D" >
      <!-- flag is set if the install will trigger an upgrade of an existing install -->
      <UpgradeVersion Property="PREVIOUSVERSIONSINSTALLED" Maximum="1.5.0" IncludeMaximum="no" />
    </Upgrade>

    <Media Id='1' Cabinet='StExBar.cab' EmbedCab='yes' />
	<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
	<Condition Message='This application requires an 64-bit OS'>VersionNT64</Condition>
	
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFiles64Folder' Name='PFiles'>
		  <Directory Id='INSTALLDIR' Name='StExBar' LongName='StExBar'>
	
			<Component Id='MainDll' Guid='47E71A9B-B024-4884-B336-C704158F14AD' Win64="yes">
			  <File Id='StExBar.DLL' Name='StExBar.dll' LongName='StExBar.dll' DiskId='1'
				Source='bin/release_x64/StExBar.dll' Vital='yes'>
			  </File>
				<Registry Root="HKLM" Key="Software\Classes\CLSID\{6c7a85a7-27c6-49ce-98b2-a8479b0dd63d}" Value="StExBar" Type="string" />
				<Registry Root="HKLM" Key="Software\Classes\CLSID\{6c7a85a7-27c6-49ce-98b2-a8479b0dd63d}" Action="createKeyAndRemoveKeyOnUninstall" />
				<Registry Root="HKLM" Key="Software\Classes\CLSID\{6c7a85a7-27c6-49ce-98b2-a8479b0dd63d}\InProcServer32" Value="[INSTALLDIR]StExBar.dll" Type="string" />
				<Registry Root="HKLM" Key="Software\Classes\CLSID\{6c7a85a7-27c6-49ce-98b2-a8479b0dd63d}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
				<Registry Root="HKLM" Key="Software\Classes\CLSID\{6c7a85a7-27c6-49ce-98b2-a8479b0dd63d}\Implemented Categories\{00021492-0000-0000-C000-000000000046}" Action="createKeyAndRemoveKeyOnUninstall" />
				<Registry Root="HKLM" Key="Software\Microsoft\Internet Explorer\Toolbar" Name="{6c7a85a7-27c6-49ce-98b2-a8479b0dd63d}" Value="StExBar" Type="string" />

				<!-- clear the toolband cache to make sure the toolband appears in the context menu -->
				<Registry Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\Discardable\PostSetup\Component Categories\{00021493-0000-0000-C000-000000000046}\Enum" Action="removeKeyOnInstall" />
				<Registry Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\Discardable\PostSetup\Component Categories\{00021494-0000-0000-C000-000000000046}\Enum" Action="removeKeyOnInstall" />

			</Component>
			
		  </Directory>
      </Directory>

    </Directory>

    <Feature Id='Complete' Title='StExBar' Description='The complete package.'
      Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
      <Feature Id='MainDll' Title='Program' Description='The main executable.' Level='1'>
        <ComponentRef Id='MainDll' />
      </Feature>
    </Feature>

    <UIRef Id="WixUI_Custom" />
    <UIRef Id="WixUI_ErrorProgressText" />
    
    <InstallExecuteSequence>
      <AppSearch Sequence="1"></AppSearch>
      <LaunchConditions After="AppSearch" />
      <RemoveExistingProducts After="InstallValidate"><![CDATA[PREVIOUSVERSIONSINSTALLED]]></RemoveExistingProducts>
    </InstallExecuteSequence>

  </Product>
</Wix>
