* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    font: 13px "Lucida Grande", Verdana, Arial, Sans-Serif;
    /*height: 100%;*/
}

body {
    background-color: #3d63f2;
    background-image: linear-gradient(to bottom, #3d63f2 8%, #6084fe 40%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #181818;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: left;
}

a {
    color: #0066ee;
}

a:hover {
    color: #181818;
}

a,
.main-table tr {
    transition: color 0.15s linear;
}

.content {
    font-size: 110%;
    margin: 10px 8px 0;
    padding: 2px 10px 22px 40px;
    width: 845px;
}

code {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    color: #000;
    padding: 0.5px 4px;
    font: 13px Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
    font-size: 110%;
}

code,
h1,
h2,
h3,
h4,
pre {
    border-radius: 4px;
}

dd {
    margin-left: 30px;
    margin-bottom: 5px;
}

dd,
dt {
    line-height: 1.4em;
}

dl {
    margin-bottom: 20px;
}

dt {
    font-weight: bold;
}

/* `kbd` style taken from Bootstrap */
kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #ffffff;
    background-color: #333333;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: bold;
    box-shadow: none;
}

footer {
    background-position: 0 -310px;
    color: white;
    font-size: 80%;
    margin: 0 auto;
    text-align: center;
    width: 900px;
    height: 54px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-top: 20px;
}

footer ul > li {
    display: inline-block;
}

footer a {
    color: #5e7eff;
    font-weight: bold;
    text-decoration: none;
}

footer p {
    display: inline-block;
    margin: 0 auto;
}

footer a:hover:not(img) {
    color: #acacd7;
    text-decoration: underline;
}

h1,
h2,
h3,
h4 {
    background-color: #0a0809;
    background-image: linear-gradient(to bottom, #0a0809 0%, #0a0e0a 48%, #6e7774 92%, #aebcbf 100%);
    color: #eeeeee;
    font-weight: bold;
}

h1,
h2 {
    font-size: 120%;
    margin: 12px 0;
    padding: 2px 4px 6px 6px;
}

h3 {
    font-size: 105%;
    margin: 30px 0 15px;
    padding: 4px 4px 6px 6px;
}

h4 {
    font-size: 100%;
    margin: 30px 0 15px;
    padding: 4px 4px 6px 6px;
}


h1 a,
h2 a,
h3 a,
h4 a {
    color: #eeeeee;
    text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
    color: #acacd7;
    text-decoration: none;
}

header {
    background-position: 0 0;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    width: 900px;
    height: 300px;
}

img {
    border: 0;
    display: inline-block;
    vertical-align: middle;
}

li {
    padding: 2px;
}

.nav-right {
    margin: 0 60px 0 0;
    float: right;
    position: relative;
}

.nav-left {
    margin: 0 60px 0 0;
    float: left;
    position: relative;
}

ol,
ul {
    margin: 10px 0 10px 35px;
    padding: 0;
}

pre {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: #333;
    display: block;
    line-height: 140%;
    margin: 0 0 10px;
    padding: 10px;
    white-space: pre-wrap;
    word-break: break-all;
}


/*
 * ID selectors and classes
 */
::-moz-selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

.main-sprite {
    background-image: url("../img/main_sprite.png");
    background-repeat: no-repeat;
}

.header-title,
.header-description {
    border-radius: 0;
}


.header-title {
    background: transparent none !important;
    color: #5e7eff;
    font-size: 200%;
    margin: inherit;
    padding: 128px 0 0 348px;
}

.header-title a {
    color: #5e7eff;
}

.header-title a:hover {
    color: #acacd7;
}

.header-description {
    background: transparent none;
    color: white;
    font-size: 110%;
    font-weight: normal;
    margin: 0;
    padding: 0 0 0 350px;
}

/* Homepage's table start */
.main-table {
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 10px 10px 5px #888888;
    display: inline-block;
    margin: 8px 0 2px;
}

.main-table,
.main-table td,
.main-table th {
    border: 1px inset blue;
}

.main-table img {
    padding: 2px;
}

.main-table li {
    margin: 0;
    padding: 0;
}

.main-table td,
.main-table th {
    padding: 4px 8px;
}

.main-table th {
    background-color: #005fbf;
    background-image: linear-gradient(to bottom, #005fbf 50%, #003f7f 90%);
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.main-table tr {
    background-color: white;
}

.main-table tr:hover {
    background-color: #e4e9ee;
}

.main-table ul {
    list-style-type: none;
    margin: 0 4px;
}

.apps-sprite {
    background: url("../img/app_icons_sprite.png") no-repeat;
    text-align: center;
    vertical-align: middle;
}

.AAClr          { background-position: -5px    -5px; }
.BowPad         { background-position: -5px   -79px; }
.CommitMonitor  { background-position: -5px  -153px; }
.CryptSync      { background-position: -5px  -227px; }
.DemoHelper     { background-position: -5px  -301px; }
.EvImSync       { background-position: -5px  -375px; }
.ev2on          { background-position: -5px  -449px; }
.FavIconizer    { background-position: -5px  -523px; }
.FileTool       { background-position: -5px  -597px; }
.MailNoter      { background-position: -5px  -671px; }
.SendMessage    { background-position: -5px  -745px; }
.trafficWatcher { background-position: -5px  -819px; }
.console        { background-position: -5px  -893px; }
.grepWin        { background-position: -5px  -967px; }
.win            { background-position: -5px -1041px; }

/* Homepage's table end */


.wrapper {
    background: repeat-y url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA4QAAAABCAIAAAAJufeaAAAAl0lEQVR4AezAwQ0BURQF0Pv+GzMwLQyRiALY6EcNYm1LdxYssEEHEoE/9+pD3rH5bIEES19DW9FMntn9OqbziZQHGuCTiw4fbOpm+dQwCclEsi7v2/WoX4KkJQhKArLD8C5aAZXcCBhkQgghhBBC+Ecv2Wpzetr4Y4WIUuil22W/q/3aa1301j0nHs8HGDusQMkA8DeIdgASSkSMWxuM4gAAAABJRU5ErkJggg==");
    margin: -10px auto 0;
    width: 900px;
}

.nav-list {
    display: inline;
}

.important {
    background: no-repeat 4px 3px url("../img/important.png");
    border-left: 1px solid #069;
    border-top: 5px solid #069;
    border-top-left-radius: 4px;
    clear: both;
    margin: 1em 0 0 1em;
    min-height: 52px;
    padding-left: 42px;
    width: 95%;
}

.important h2,
.important h3 {
    background: none;
    color: #069;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    padding: 4px 0 0 0;
}

.important h2 {
    font-size: 1.05em;
}

.important h3 {
    font-size: 1em;
}

.nowrap {
    white-space: nowrap;
}

.superscript {
    font-size: 75%;
    vertical-align: super;
}


.ad-inpage {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    position: relative !important;
}

.footer-icon {
    display: inline-block;
    vertical-align: middle;
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
