import os, string, shutil

setpath = 'D:\\Development\\toolssite'

for root, dirs, files in os.walk(setpath, topdown = False):
    for name in files:
        os.remove(os.path.join(root, name))
    for name in dirs:
        os.rmdir(os.path.join(root, name))
if os.path.exists(setpath):
    os.rmdir(setpath)
shutil.copytree(os.path.abspath('..'), setpath)

footerFile = file(os.path.join(setpath, 'templates/footer.html'), 'r')
footerjsFile = file(os.path.join(setpath, 'templates/footer-js.html'), 'r')
menuFile = file(os.path.join(setpath, 'templates/header.html'), 'r')
menuFileZH = file(os.path.join(setpath, 'templates/header.zh.html'), 'r')
adtopFile = file(os.path.join(setpath, 'templates/adsense_top.html'), 'r')
adinpageFile = file(os.path.join(setpath, 'templates/adsense_inpage.html'), 'r')

# the following 17 lines should be in a loop
footerText = footerFile.read()
footerFile.close()

footerjsText = footerjsFile.read()
footerjsFile.close()

menuText = menuFile.read()
menuFile.close()

menuTextZH = menuFileZH.read()
menuFileZH.close()

adtopText = adtopFile.read()
adtopFile.close()

adinpageText = adinpageFile.read()
adinpageFile.close()

searchfor = [ '<!--#include FILE="header.html"-->', '<!--#include FILE="header.zh.html"-->', '<!--#include FILE="footer.html"-->', '<!--#include FILE="footer-js.html"-->', '<!--#include FILE="adsense_top.html"-->', '<!--#include FILE="adsense_inpage.html"-->' ]
replacewith = [ menuText, menuTextZH, footerText, footerjsText, adtopText, adinpageText ]

for root, dirs, files in os.walk(setpath):
    fname = files
    for fname in files:
        if fname.endswith('.html'):
            inputFile = file(os.path.join(root, fname), 'r')
            data = inputFile.read()
            inputFile.close()
            for i in range(len(searchfor)):
                x = searchfor[i]
                y = replacewith[i]
                search = string.find(data, x)
                if search >= 1:
                    data = data.replace(x, y)

            outputFile = file(os.path.join(root, fname), 'w')
            outputFile.write(data)
            outputFile.close()
