<?xml version="1.0" encoding="windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
  UpgradeCode="705E17CC-A9E9-4082-96C6-EC08249B63A8"
  Name="SKTimeStamp"
  Id="*"
  Language="1033"
  Codepage="1252"
  Version="1.3.5"
  Manufacturer="Stefans Tools">

    <Package Id="*" Keywords="Installer"
      Description="File/Folder Time Stamp Changer"
      Comments="https://tools.stefankueng.com" Manufacturer="Stefans Tools"
      InstallerVersion="100" Languages="1033" Compressed="yes" SummaryCodepage="1252" />

    <Upgrade Id="705E17CC-A9E9-4082-96C6-EC08249B63A8" >
      <!-- flag is set if the install will trigger an upgrade of an existing install -->
      <UpgradeVersion Property="PREVIOUSVERSIONSINSTALLED" Maximum="1.3.5" IncludeMaximum="no" />
    </Upgrade>

    <Media Id="1" Cabinet="SKTimeStamp.cab" EmbedCab="yes" CompressionLevel="high" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id="ALLUSERS">1</Property>
    <Condition Message="This application only runs on Vista and later.">
      <![CDATA[Installed OR (VersionNT >= 600)]]>
    </Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="INSTALLDIR" Name="SKTimeStamp">

          <Component Id="MainDll" Guid="A9818B4B-B626-4455-AA31-588EAFAFA213">
            <File Id="SKTIMESTAMP.DLL" Name="SKTimeStamp.dll" DiskId="1"
            Source="bin/SKTimeStamp/Release/SKTimeStamp.dll" Vital="yes">
            </File>
            <RegistryValue Root="HKLM" Key="Software\Classes\*\shellex\PropertySheetHandlers\SKTimeStamp" Value="{01D8AD1E-46C9-4882-925C-CC29D9A99858}" Type="string" />
            <RegistryValue Root="HKLM" Key="Software\Classes\Directory\shellex\PropertySheetHandlers\SKTimeStamp" Value="{01D8AD1E-46C9-4882-925C-CC29D9A99858}" Type="string" />
            <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{01D8AD1E-46C9-4882-925C-CC29D9A99858}" Value="SKTimeStamp" Type="string" />
            <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{01D8AD1E-46C9-4882-925C-CC29D9A99858}" />
            <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{01D8AD1E-46C9-4882-925C-CC29D9A99858}\InProcServer32" Value="[INSTALLDIR]SKTimeStamp.dll" Type="string" />
            <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{01D8AD1E-46C9-4882-925C-CC29D9A99858}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />

            <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{01D8AD1E-46C9-4882-925C-CC29D9A99858}" Value="SKTimeStamp" Type="string" />
          </Component>

        </Directory>
      </Directory>

    </Directory>

    <Feature Id="Complete" Title="SKTimeStamp" Description="The complete package."
      Display="expand" Level="1" ConfigurableDirectory="INSTALLDIR">
      <Feature Id="MainDll" Title="Program" Description="The main dll." Level="1">
        <ComponentRef Id="MainDll" />
      </Feature>
    </Feature>

    <UIRef Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="src/setup/License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="src/setup/Banner.jpg" />
    <WixVariable Id="WixUIDialogBmp" Value="src/setup/Dialog.jpg" />

    <InstallExecuteSequence>
      <AppSearch Sequence="1"></AppSearch>
      <LaunchConditions After="AppSearch" />
      <RemoveExistingProducts After="InstallValidate"><![CDATA[PREVIOUSVERSIONSINSTALLED]]></RemoveExistingProducts>
    </InstallExecuteSequence>

  </Product>
</Wix>
