<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product
  UpgradeCode="705E17CC-A9E9-4082-96C6-EC08249B63A8"
  Name='SKTimeStamp'
  Id='*'
  Language='1033'
  Codepage='1252'
  Version='1.3.3'
  Manufacturer='Stefans Tools'>

    <Package Id='*' Keywords='Installer'
      Description="File/Folder Time Stamp Changer"
      Comments='http://tools.tortoisesvn.net' Manufacturer='Stefans Tools'
      InstallerVersion='200' Platform="x64" Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Upgrade Id="705E17CC-A9E9-4082-96C6-EC08249B63A8" >
      <!-- flag is set if the install will trigger an upgrade of an existing install -->
      <UpgradeVersion Property="PREVIOUSVERSIONSINSTALLED" Maximum="1.3.3" IncludeMaximum="no" />
    </Upgrade>

    <Media Id='1' Cabinet='SKTimeStamp.cab' EmbedCab='yes' CompressionLevel='high' />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id="ALLUSERS">1</Property>
    <Condition Message='This application requires an 64-bit OS'>VersionNT64</Condition>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFiles64Folder' Name='PFiles'>
        <Directory Id='INSTALLDIR' Name='SKTimeStamp'>

          <Component Id='MainDll' Guid='DFCE2398-B897-4d81-B2B1-517E13C08FF0' Win64="yes">
            <File Id='SKTIMESTAMP.DLL' Name='SKTimeStamp.dll' DiskId='1'
            Source='bin/SKTimeStamp/Release_x64/SKTimeStamp.dll' Vital='yes'>
            </File>
            <RegistryValue Root="HKLM" Key="Software\Classes\*\shellex\PropertySheetHandlers\SKTimeStamp" Value="{6A6B7688-3B34-41b2-8487-F1CE4C23FC60}" Type="string" />
            <RegistryValue Root="HKLM" Key="Software\Classes\Directory\shellex\PropertySheetHandlers\SKTimeStamp" Value="{6A6B7688-3B34-41b2-8487-F1CE4C23FC60}" Type="string" />
            <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{6A6B7688-3B34-41b2-8487-F1CE4C23FC60}" Value="SKTimeStamp" Type="string" />
            <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{6A6B7688-3B34-41b2-8487-F1CE4C23FC60}" Action="createAndRemoveOnUninstall" />
            <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{6A6B7688-3B34-41b2-8487-F1CE4C23FC60}\InProcServer32" Value="[INSTALLDIR]SKTimeStamp.dll" Type="string" />
            <RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{6A6B7688-3B34-41b2-8487-F1CE4C23FC60}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />

            <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{6A6B7688-3B34-41b2-8487-F1CE4C23FC60}" Value="SKTimeStamp" Type="string" />
          </Component>

        </Directory>
      </Directory>

    </Directory>

    <Feature Id='Complete' Title='SKTimeStamp' Description='The complete package.'
      Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
      <Feature Id='MainDll' Title='Program' Description='The main dll.' Level='1'>
        <ComponentRef Id='MainDll' />
      </Feature>
    </Feature>

    <UIRef Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="src/setup/License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="src/setup/Banner.jpg" />
    <WixVariable Id="WixUIDialogBmp" Value="src/setup/Dialog.jpg" />

    <InstallExecuteSequence>
      <AppSearch Sequence="1"></AppSearch>
      <LaunchConditions After="AppSearch" />
      <RemoveExistingProducts After="InstallValidate"><![CDATA[PREVIOUSVERSIONSINSTALLED]]></RemoveExistingProducts>
    </InstallExecuteSequence>

  </Product>
</Wix>
