<a href="#" class="scrollup">Scroll</a>
<footer class="main-sprite">
    <p>
        <a href="http://sourceforge.net/projects/stefanstools"><img src="img/sflogo.png" width="80" height="15" alt="SourceForge logo"></a>
        &bull; &copy; <a href="about.html">Stefan K&uuml;ng</a>
    </p>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
<script src="js/pack.js"></script>
