name: Website CI

on:
  push:
    paths:
      - "www/**"
  pull_request:
    paths:
      - "www/**"
  workflow_dispatch:

env:
  NODE: 18
  FORCE_COLOR: 2

defaults:
  run:
    working-directory: "www"

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "${{ env.NODE }}"
          cache: npm
          cache-dependency-path: www/package-lock.json

      - run: java -version

      - name: Install npm dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Upload files
        uses: actions/upload-artifact@v4
        if: success() && github.repository == 'stefankueng/tools' && github.ref == 'refs/heads/main'
        with:
          name: www
          path: ./www/dist/

  deploy:
    runs-on: ubuntu-latest
    needs: tests
    if: github.repository == 'stefankueng/tools' && github.ref == 'refs/heads/main'

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Download files
        uses: actions/download-artifact@v4
        with:
          name: www
          path: ./www/dist/

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: success()
        with:
          allow_empty_commit: false
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./www/dist/
