/*
 * Default HTML tags
 */
body {
    background: #5e7eff url("../img/background.png") repeat-x top;
    color: #181818;
    font: 80% "Lucida Grande", Verdana, Arial, Sans-Serif;
    margin: 0 auto;
    padding: 0;
    text-align: left;
}

a {
    color: #181818;
    -webkit-transition: color 0.15s linear;
       -moz-transition: color 0.15s linear;
         -o-transition: color 0.15s linear;
            transition: color 0.15s linear;
}

a:hover {
    color: #5e7eff;
}

article {
    border: 1px solid white;
    font-size: 110%;
    padding: 0 10px;
}

footer {
    background: url("../img/footer.png") no-repeat;
    color: white;
    font-size: 11px;
    margin: 0 auto;
    text-align: center;
    width: 900px;
    height: 54px;
}

footer a {
    color: #5e7eff;
    font-weight: bold;
    text-decoration: none;
}

footer p {
    display: inline-block;
    height: 20px;
    line-height: 42px;
}

footer a:hover {
    color: #acacd7;
    text-decoration: underline;
}

h2,
h3 {
    background-color: #0a0809; /* Old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0a0809), color-stop(48%, #0a0e0a), color-stop(92%, #6e7774), color-stop(100%, #aebcbf)); /* Chrome, Safari4+ */
    background-image: -webkit-linear-gradient(top, #0a0809 0%, #0a0e0a 48%, #6e7774 92%, #aebcbf 100%); /* Chrome10+, Safari5.1+ */
    background-image:    -moz-linear-gradient(top, #0a0809 0%, #0a0e0a 48%, #6e7774 92%, #aebcbf 100%);    /* FF3.6+ */
    background-image:     -ms-linear-gradient(top, #0a0809 0%, #0a0e0a 48%, #6e7774 92%, #aebcbf 100%);     /* IE10+ */
    background-image:      -o-linear-gradient(top, #0a0809 0%, #0a0e0a 48%, #6e7774 92%, #aebcbf 100%);      /* Opera 11.10+ */
    background-image:         linear-gradient(to bottom, #0a0809 0%, #0a0e0a 48%, #6e7774 92%, #aebcbf 100%);   /* W3C */
    color: #eeeeee;
    font-weight: bold;
    margin: 12px 0 4px 0;
    padding: 2px 4px 6px 6px;
}

h2 {
    font-size: 120%;
}

h2 a,
h3 a {
    color: #eeeeee;
    text-decoration: none;
}

h2 a:hover,
h3 a:hover {
    color: #acacd7;
    text-decoration: none;
}

h3 {
    font-size: 105%;
}

header {
    background-image: url("../img/header.png");
    font-size: 200%;
    font-weight: bold;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    width: 900px;
    height: 300px;
}

img {
    border: 0;
    padding: 4px 0;
 }

li {
    margin: 0;
    padding: 2px;
}

nav {
    margin: -8px 60px;
    float: right;
}

nav ul > li {
    display: inline;
}

ol,
ul {
    margin: 10px 0 0 35px;
    padding: 0;
}

ol li {
    list-style: decimal;
}

table {
    border: 1px solid blue;
    border-collapse: collapse;
    border-spacing: 0;
}

td > ul li {
    margin: 0;
    padding: 0;
}

/*
 * ID selectors and classes
 */
#content {
    margin: 10px 8px 0;
    padding: 0 10px 20px 30px;
    width: 815px;
}

#header-title {
    color: #5e7eff;
    padding: 128px 0 0 348px;
}

#header-title a {
    color: #5e7eff;
    text-decoration: none;
}

#header-title a:hover {
    color: #acacd7;
}

#header-description {
    color: white;
    font-size: 55%;
    font-weight: normal;
    padding: 0 0 0 350px;
}

/* Homepage's table */
#main-table {
    box-shadow: 10px 10px 5px #888888;
}

#main-table td,
#main-table th {
    border: 1px inset blue;
    border-width: 0 1px 1px 0;
    color: #000;
    padding: 4px;
    vertical-align: middle;
}

#main-table td > ul {
    margin: 0 4px 0 16px;
}

#main-table tr:first-child td {
    background-color: #005fbf;
    background-image: -moz-linear-gradient(center top, #005fbf 5%, #003f7f 100%);
    background-image:  -ms-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
    background-image:   -o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
    background-image:     -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f));
    background-image:      linear-gradient(to bottom, #005fbf 5%, #003f7f 100%);
    border: 0 solid #0000ff;
    border-width: 0 0 1px 1px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

#main-table tr:first-child td:first-child {
    border-width: 0 0 1px 0;
}

#main-table tr:first-child td:last-child {
    border-width: 0 0 1px 1px;
}

#rap {
    background: url("../img/main.png") repeat-y;
    margin: 0 auto;
    width: 900px;
}

.centered {
    text-align: center;
    vertical-align: middle;
}

code.command {
    background-color: black;
    border: thin solid gray;
    color: white;
    display: inline-block;
    font: bold 1em monospace, Sans-Serif;
    margin: 6px;
    padding: 8px;
    white-space: pre;
}

.important {
    background: url("../img/important.png") no-repeat 5px 1.33em;
    border-color: #069 !important;
    border-left: 1px solid;
    border-top: 5px solid;
    clear: both;
    margin: 1em 0 0 1em;
    min-height: 52px;
    padding: 0 0 0 42px;
    width: 90%;
}

.important h3 {
    background: none;
    color: #069;
    font-size: 1.05em;
    font-style: italic;
    font-weight: bold;
    margin-top: 0;
    padding: 4px 0 0 0;
}

.nowrap {
    white-space: nowrap;
}

.superscript {
    font-size: 75%;
    vertical-align: super;
}

.sprite {
    background: url("../img/app_icons_sprite.png") no-repeat;
    padding: 2px;
    width: 64px;
    height: 64px;
}

.AAClr          { background-position: 0 0; }
.CommitMonitor  { background-position: 0 -72px; }
.CryptSync      { background-position: 0 -146px; }
.DemoHelper     { background-position: 0 -222px; }
.EvImSync       { background-position: 0 -292px; }
.FavIconizer    { background-position: 0 -366px; }
.MailNoter      { background-position: 0 -440px; }
.SendMessage    { background-position: 0 -518px; }
.console        { background-position: 0 -590px; }
.grepWin        { background-position: 0 -664px; }
.trafficWatcher { background-position: 0 -740px; }
.win            { background-position: 0 -812px; }

@media print {
    * {
        background: transparent !important;
        color: black !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    img {
        page-break-inside: avoid;
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
