/*
 * Default HTML tags
 */
a {
    color: #181818;
}

a:visited {
    color: #181818;
    text-decoration: underline;
}

a:hover {
    color: #5e7eff;
}

.ss {
    font-size: 70%;
    vertical-align: super;
}

code.command {
    color: white;
    font-weight: bold;
    background-color:black;
    white-space: pre;
    font-family: monospace;
    display: inline-block;
    margin: 6px 6px 6px 6px;
    padding: 12px 12px 12px 12px;
    border-style: solid;
    border-width: thin;
    border-color: gray;
}

body {
    background: #5e7eff url("../img/background.png") repeat-x top;
    color: #181818;
    font-size: 80%;
    font-family: "Lucida Grande", Verdana, Arial, Sans-Serif;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

h2 {
    font-size: 14px;
    margin: 0px 0 6px 0;
    padding: 1px 0 3px 5px;
    font-weight: bold;
    color: #eeeeee;
    border-bottom: #3d3d3d 1px solid;
    background: url("../img/header2.png") repeat-x;
}

h2 a,
h2 a:visited {
    text-decoration: none;
    color: #eeeeee;
}

h2 a:hover,
h2 a:visited:hover {
    text-decoration: none;
    color: #BFBFEF;
}

h3 {
    font-size: 130%;
    margin-top: 0;
}

img {
    padding: 3px;
    border: 0;
 }

li {
    margin: 0;
    padding: 3px;
}

ol#comments li p {
    font-size: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

/*
 * Classes
 */

.post {
    background: #ffffff;
    border: 1px solid #ffffff;
}

.storycontent {
    font-size: 115%;
    padding-left: 10px;
    padding-right: 10px;
}

#content {
    float: left;
    width: 815px;
    padding: 0px 10px 20px 30px;
    margin: 10px 8px 0;
    text-align: left;
    display: block; float: none;
}

#content ol li {
    list-style: decimal;
}

#content ul {
    margin-top: 10px;
    margin-left: 35px;
}

#content ul li {
    list-style-image: none;
}

.centered {
    text-align: center;
    vertical-align: middle;
}

.tdnowrap {
    white-space: nowrap;
}

#header {
    font-size: 33px;
    font-weight: bold;
    text-decoration: none;
    font-family: Verdana, Arial, Sans-Serif;
    margin: 0 auto;
    height: 300px;
    width: 900px;
    padding: 0;
    background: url("../img/header.jpg");
}

.header-title {
    font-family: "Lucida Grande", Verdana, Arial, Sans-Serif;
    color: #5e7eff;
    font-size: 26px;
    font-weight: bold;
    padding: 128px 0 0 348px;
    text-align: left;
}

.header-title a {
    color: #5e7eff;
    text-decoration: none;
    border-bottom: none;
}

.header-title a:hover {
    color:#BFBFEF;
    text-decoration:none;
    border-bottom:none;
}

.header-description {
    font-size: 14px;
    font-family: "Lucida Grande", Verdana, Arial, Sans-Serif;
    font-weight: normal;
    color:#fefefe;
    padding: 0px 0 0 350px;
    text-align:left;
}

#footer {
    width: 900px;
    height: 54px;
    margin: 0 auto;
    color: #fefefe;
    background: url("../img/footer.png") no-repeat;
    font-size: 11px;
    font-family: "Lucida Grande", Verdana, Arial, Sans-Serif;
}

#footer a {
    color: #5e7eff;
    text-decoration: none;
    font-weight: bold;
}

#footer a:hover {
    color: #BFBFEF;
    text-decoration: underline;
}

#footer a:visited {
    color: #5e7eff;
    text-decoration: none;
}

#footer a:visited:hover {
    color: #BFBFEF;
    text-decoration: underline;
}

#rap {
    width: 900px;
    margin: 0 auto;
    background: url("../img/main.png") repeat-y;
    text-align: left;
}

table {
    border-width: 1px;
    border-spacing: 2px;
    border-style: solid;
    border-color: blue;
    border-collapse: collapse;
    background-color: white;
}

table th {
    border-width: 1px;
    padding: 3px;
    border-style: inset;
    border-color: blue;
    background-color: white;
}

table td {
    border-width: 1px;
    padding: 3px;
    border-style: inset;
    border-color: blue;
    background-color: white;
}
