/*
 * Default HTML tags
 */
body {
    background: #5e7eff url("../img/background.png") repeat-x top;
    color: #181818;
    font-family: "Lucida Grande", Verdana, Arial, Sans-Serif;
    font-size: 80%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

a {
    color: #181818;
}

a:visited {
    color: #181818;
    text-decoration: underline;
}

a:hover {
    color: #5e7eff;
}

footer {
    background: url("../img/footer.png") no-repeat;
    color: #fefefe;
    font-size: 11px;
    height: 54px;
    margin: 0 auto;
    width: 900px;
}

footer a {
    color: #5e7eff;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: #bfbfef;
    text-decoration: underline;
}

footer a:visited {
    color: #5e7eff;
    text-decoration: none;
}

footer a:visited:hover {
    color: #bfbfef;
    text-decoration: underline;
}

h2 {
    background: url("../img/header2.png") repeat-x;
    border-bottom: #3d3d3d 1px solid;
    color: #eeeeee;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0 6px 0;
    padding: 1px 0 3px 5px;
}

h2 a,
h2 a:visited {
    color: #eeeeee;
    text-decoration: none;
}

h2 a:hover,
h2 a:visited:hover {
    color: #bfbfef;
    text-decoration: none;
}

h3 {
    font-size: 130%;
    margin-top: 0;
}

header {
    background: url("../img/header.png");
    font-size: 33px;
    font-weight: bold;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    width: 900px;
    height: 300px;
}

img {
    border: 0;
    padding: 3px;
 }

li {
    margin: 0;
    padding: 3px;
}

ol li {
    list-style: decimal;
}

table {
    background-color: white;
    border-collapse: collapse;
    border-color: blue;
    border-spacing: 0;
    border-style: solid;
    border-width: 1px;
}

table td {
    background-color: white;
    border-color: blue;
    border-style: inset;
    border-width: 1px;
    padding: 3px;
}

table th {
    background-color: white;
    border-color: blue;
    border-style: inset;
    border-width: 1px;
    padding: 3px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-image: none;
}

/*
 * Classes
 */
code.command {
    background-color: black;
    border-color: gray;
    border-style: solid;
    border-width: thin;
    color: white;
    display: inline-block;
    font-family: monospace, Sans-Serif;
    font-size: 1em;
    font-weight: bold;
    margin: 6px 6px 6px 6px;
    padding: 12px 12px 12px 12px;
    white-space: pre;
}

.superscript {
    font-size: 75%;
    vertical-align: super;
}

.post {
    background: #ffffff;
    border: 1px solid #ffffff;
}

.storycontent {
    font-size: 110%;
    padding-left: 10px;
    padding-right: 10px;
}

#content {
    display: block;
    float: left;
    float: none;
    margin: 10px 8px 0;
    padding: 0px 10px 20px 30px;
    text-align: left;
    width: 815px;
}

#content ul {
    margin-left: 35px;
    margin-top: 10px;
}

.centered {
    text-align: center;
    vertical-align: middle;
}

.tdnowrap {
    white-space: nowrap;
}

.header-title {
    color: #5e7eff;
    font-size: 26px;
    font-weight: bold;
    padding: 128px 0 0 348px;
    text-align: left;
}

.header-title a {
    color: #5e7eff;
    text-decoration: none;
}

.header-title a:hover {
    color: #bfbfef;
    text-decoration: none;
}

.header-description {
    color: #fefefe;
    font-size: 14px;
    font-weight: normal;
    padding: 0px 0 0 350px;
    text-align: left;
}

#rap {
    background: url("../img/main.png") repeat-y;
    margin: 0 auto;
    text-align: left;
    width: 900px;
}

/*.caution,*/ .important/*, .note, .tip, .warning*/ {
    border-top: 5px solid;
    border-left: 1px solid;
    margin: 1em 0 0 1em;
    padding: 5px 0 10px 0;
    width: 90%;
    clear: both;
    background-repeat: no-repeat;
    background-position: 5px 1.33em;
    padding: 0 0 0 42px;
    min-height: 52px;
    width: 80%;
}

/*.tip {
    background-image: url("../img/tip.png");
    border-color: #090;
}

.tip h3 {
    padding-top: 4px;
    color: #090;
    font-weight: bold;
    font-style: italic;
    font-size: 1.05em;
}*/

.important {
    background-image: url("../img/important.png");
    border-color: #069;
}

.important h3 {
    padding-top: 4px;
    color: #069;
    font-weight: bold;
    font-style: italic;
    font-size: 1.05em;
}

/*.caution {
    background-image: url("../img/caution.png");
    border-color: #c60;
}

.caution h3 {
    padding-top: 4px;
    color: #c60;
    font-weight: bold;
    font-style: italic;
    font-size: 1.05em;
}

.warning {
    background-image: url("../img/warning.png");
    border-color: #900;
}

.warning h3 {
    padding-top: 4px;
    color: #900;
    font-weight: bold;
    font-style: italic;
    font-size: 1.05em;
}*/


.sprite         { background: url("../img/app_icons_sprite.png") no-repeat 64px 64px; }
.AAClr          { background-position: 0 0; }
.CommitMonitor  { background-position: 0 -72px; }
.CryptSync      { background-position: 0 -146px; }
.DemoHelper     { background-position: 0 -222px; }
.EvImSync       { background-position: 0 -292px; }
.FavIconizer    { background-position: 0 -366px; }
.MailNoter      { background-position: 0 -440px; }
.SendMessage    { background-position: 0 -518px; }
.console        { background-position: 0 -590px; }
.grepWin        { background-position: 0 -664px; }
.trafficwatcher { background-position: 0 -740px; }
.win            { background-position: 0 -812px; }
